.content {
    width: 1152px;
    height: 100px;
    background-color: white;
  }
  
  body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  }
  
  .inner {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding-left: 770px;
  }
  
  /* メイン画像 */
  .box {
    position: relative;
    /* 基準位置とする */
    width: 1152px;
    height: 630px;
    margin: auto;
    margin-top: 100px;
  }
  .br_sp{
    display: none;
  }
  
  .menu {
    padding-right: 60px;
  }
  
  .img_01 {
    top: 95px;
    left: 85px;
    width: 1000px;
    height: 500px;
    position: absolute;
    /* 相対位置に指定 */
    background-color: white;
  }
  
  .img_02 {
    top: -55px;
    left: -50px;
    position: absolute;
    /* 相対位置に指定 */
  }
  
  .img_03 {
    bottom: 0px;
    right: 25px;
    position: absolute;
    /* 相対位置に指定 */
  }
  
  .spimg_01,.spimg_03{
    display: none;
  }
  .left {
    padding-left: 100px;
  }
  
  .section2 footer {
    max-width: 1152px;
    margin: 0;
    /* justify-content: space-around; */
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px auto;
  }
  
  .contents {
    width: 1152px;
    /* height: 630px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 70px;
    margin: 100px auto;
  }
  
  img {
    width: 350px;
    height: auto;
  }
  
  .box2 {
    width: 350px;
    height: 450px;
    position: relative;
    margin-top: 50px;
  }
  
  .box2:hover {
    box-shadow: 8px 8px 8px 8px rgba(43, 42, 42, 0.5);
    transition-duration: 2.0s;
    .btn_box span{
        width: 100%;
        transition: 1.5s;
    }

  }
  
  .dates, .text {
    font-size: 25px;
    margin-top: 15px;
  }
  
  .btn_box {
    display: inline-block;
    position: absolute;
    top: 400px;
    right: 25px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .btn_box span {
    display: inline-block;
    width: 30px;
    height: 20px;
    border-bottom: solid 2px black;
  }
  
  footer {
    line-height: 100px;
    background-color: black;
    color: white;
    text-align: center;
  }
  a {
    text-decoration:none; 
  }

//   ハンバーガーメニュー
.hamburger,#hamburger{
    display: none;
}
  
@media screen and (max-width: 768px) {
    .br_sp{
      display: block;
    }
    .box {
      width: 150px;
      height: auto;
      align-items: center;
      margin-top: 20px;
      position: static;
    }
    img{
      width: 100%;
      height: auto;
    }
    .img_01,.img_03{
      display: none;
    }
    .img_02 {
      position: static;
      /* align-items: center; */
      height: 150px;
      width: auto;
    }
    .left {
      padding-left: 0%;
      padding-top: 20px;
      text-align: center;
    }
    .spimg_01 {
      display: block;
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
    .spimg_03 {
      display: block;
      position: absolute;
      top: 260px;
    }
    .contents{
      width: auto;
      flex-direction: column;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
      margin: 0;
      display: block;
    }
    .header_items{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    h1 {
      width: 100%;
    }
    .box2{
      width: auto;
    }
    p {
      font-size: 15px;
    }

    // ハンバーガーメニューです
    .hamburger{
        width: 28px;
        height: 30px;
        display: block;
      }
     
      .hamburger .pate,
      .hamburger .pate::before,
      .hamburger .pate::after{
         width: 100%;
         height: 5px;
         background-color: gray;
         border-radius: 2px; 
         display: block;
         transition: all .5s ease;
      }
     
      .hamburger .pate{
         position: relative;
         top: calc(50% - 3px);
     
      } 
     
      .hamburger .pate::before,
      .hamburger .pate::after{
         content: '';
         position: absolute;
      }
     
      .hamburger .pate::before{
         top: -9px;
     
      }
      .hamburger .pate::after{
         top: 9px;
      }
     
      #hamburger:checked + .hamburger .pate{
       background-color: transparent;
       /* cursor:pointer; */
     
      }
      #hamburger:checked + .hamburger .pate::before{
        transform: rotate(45deg) translate(5px,5px);
      }
      
      #hamburger:checked + .hamburger .pate::after{
        transform: rotate(-45deg) translate(7px,-8px);
      }
      #hamburger{
        display: none;
      }
     
      /* header-rightの部分 */
      header{
        // position: fixed;
        // width: calc(100% - 80px);
        overflow: hidden;
      }
      .inner{
        display: none;
        position: fixed;
        top: 66px;
        right: 0px;
        transition: all .5s ease;
        width: auto;
        height: 100%;
        background-color: rgba(6, 39, 66, 0.534);
        
     
      }
      .header-right ul{
        display: block;
        padding-right: 15px;
      }
      
      .header-right li{
        margin-top: 10px;
      }
     
      #hamburger:checked ~ .header-right{
        right: 0;
      }
    //   .hamburger_rap{
    //     position: fixed;
    //   }
     
  }
  /*# sourceMappingURL=style.css.map */