.content {
    width: 1152px;
    height: 100px;
    background-color: white;   
}
  
.inner {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding-left: 770px;
    
}
/* メイン画像 */

.box{
    position: relative; /* 基準位置とする */
    width: 1152px;
    height: 630px;
    margin: auto;
    margin-top: 100px;
}
.menu{
    padding-right: 60px;
}

.img_01{
    top: 100px;
    left: 85px;
    width: 1000px;       
    height: 500px;     
    position: absolute; /* 相対位置に指定 */
    background-color: white;
}
  
.img_02{
    
    top: -60px;
    left: -50px;
    position: absolute; /* 相対位置に指定 */

}
.img_03{

    bottom: 0px;
    right: 25px;
    position: absolute; /* 相対位置に指定 */
}


.spimg_01 {
    display: none;
}

.spimg_03{
    display: none;

}

.left{
    padding-left: 100px;
}

.section2 footer{
    max-width: 1152px;
    margin: 0;
    /* justify-content: space-around; */
}
h1{
    font-size: 40px;
    text-align: center;
    margin: 50px auto;
}
.contents{
    display: flex;
    justify-content: space-around;
    padding: 0 70px;
    margin-bottom: 100px;
}
img{
    width: 350px;
    height: auto;
}
.box2{
    width: 350px;
    height: 450px;
    position: relative;
}
.box2:hover{
    box-shadow: 8px 8px 8px 8px rgba(43, 42, 42, 0.5);
    transition-duration: 2.0s;
  }

.dates,.text{
    font-size: 25px;
    margin-top: 15px;
}
.btn_box{
    display: inline-block;
    position: absolute;
    top: 400px; right: 25px;
    height: 40px;  
    display: flex;
    flex-direction: column;
    align-items: flex-end;     
}
.btn_box span{
    display: inline-block;
    width: 30px;
    height: 20px;
    border-bottom: solid 2px black;
}

footer{
    line-height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {

    
    .box{
        width: 200px;
        height: auto;
        align-items: center;
    }
    .img_01{
        display: none;
    }
    .img_02{
        position: static;
        /* align-items: center; */
        height: 200px;
        width: auto;
    }
    .img_03{
        display: none;
    }
    .inner{
        display: none;
    }
    .left{
        padding-left: 0%;
        padding-top: 20px;
        text-align: center;
    }
    .spimg_01{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .spimg_03{
        display: block;
        position: absolute;
        top: 260px;
    }
    



    .contents{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }
    h1{
        width: 100%;
    }
    p{
        font-size: 20px;
    }
    .box{
        margin-top: 20px;
    }
    
}
