/* 右上メニューPC */
.content {
    width: 1152px;
    height: 100px;
    background-color: white;
    display: flex;
}
  
.inner {
    padding-top: 30px;
    
}
/* メイン画像 */

.box{
    position: relative; /* 基準位置とする */
    width: 1152px;
    height: 700px;
}

.img_01{
    top: 100px;
    left: 10px;
    width: 1000px;       
    height: 500px;     
    position: absolute; /* 相対位置に指定 */
    background-color: white;
}
  
.img_02{
    
    top: 20px;
    left: -50px;
    position: absolute; /* 相対位置に指定 */

}
.img_03{

    bottom: 50px;
    right: 25px;
    position: absolute; /* 相対位置に指定 */
}
  
  